body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}


/* navbar */

header nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #282828;
    padding: 10px;
}

header img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
}

header div {
    display: flex;
}

.navbar {
    background-color: #282828;
}

.navbar .navbar-brand span {
    margin-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ddd;
}

.navbar .nav-item {
    margin: 0 1em;
    position: relative;
}

.navbar .nav-item:nth-child(n+2):before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #fff;
    left: -1em;
    top: calc(50% - 7.5px);
    /* transform: rotate(25deg); */
}

@media (max-width: 768px) {
    .navbar .nav-item:nth-child(n+2):before {
        display: none;
    }
}

.navbar .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: #ddd;
}

.navbar .nav-item .nav-link:first-letter {
    color: #8dffd6;
}


/* footer */

footer {
    margin-top: 20%;
    color: rgb(145, 148, 150);
    background-color: black;
    background-image: none;
    box-sizing: border-box;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 50px 0 20px;
}

footer th {
    color: white;
}

footer a:hover,
footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
    font-weight: 420;
}

footer a:hover {
    color: #8dffd6;
}

footer nav {
    padding: 10 0;
}

footer li {
    padding-right: 1.05em;
    width: 100%;
}

footer h3 {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.966667px;
    line-height: 16.8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

footer nav a,
footer nav-inverse a {
    padding: .2em 0;
    margin-bottom: .75em;
    display: inline-block;
}

footer section {
    display: flex;
}

.text-right {
    text-align: right !important;
}






